.user-list-container {
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
  }
  
  .user-list-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .user-list-title {
    color: #ff4081;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .user-list-item:hover {
    background-color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .user-name {
    font-size: 16px;
    color: #e0e0e0;
    margin-right: 20px; 
    flex-grow: 1; 
  }
  
  .select-user-button {
    background-color: #ff4081;
    color: #fff;
    width:  100px;
    border: none;
    padding: 5px 10px;
    font-size: 12px; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    min-width: 100px; 
  }
  
  .select-user-button:hover {
    background-color: #ff1e63;
    transform: scale(1.05);
  }
  
  .select-user-button:active {
    transform: scale(0.95);
  }
  
  .select-user-button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .list-disc {
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .user-list-container {
      max-width: 100%;
      padding: 10px;
    }
  
    .user-list-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .select-user-button {
      margin-top: 10px;
    }
  }
  