.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #1c1c1c;
  height:100%;
}

.component-wrapper {
  flex: 1;
  margin: 0 10px;
}

h1 {
  color: #ff4081;
  text-align: center;
  margin-top: 20px;
}
p{
  color: #ff4081;
  text-align: start;
  margin-top: 20px;
}

button {
  background-color: #ff4081;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff1e63;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays above other content */
}

